body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    line-height: 2em;
    background-color: #EDEDED;
}

h1 {
    color: #07108f ;
    border-bottom: 1px solid;
    border-color: #929CA4;
}

h3 {
    color: #0869b8 ;
    border-bottom: 1px solid;
    border-color: #929CA4;
}

body p:first-of-type::first-letter {
    font-size: 30px;
}

.solution {
    color: #CC1C0D;
    font-weight: bold;
}

#testimonial1, #testimonial2 {
    font-style: italic;
    margin-left: 50px;
}

a[href^="http"]:link {
    color: rgb(32, 32, 221);
    text-decoration: none;
}

a[href^="http"]:hover {
    color: blue;
    text-decoration: underline;
}

a[href^="http"]:visited {
    color: rgb(129, 12, 129);
    text-decoration: underline;
}

a[href^="http"]:active {
    color: rgb(5, 145, 91);
    text-decoration: none;
}

ul {
    list-style: none;
}

li:nth-child(1) {
    color: blue;
}

li:last-child {
    color: red;
}